@import url('https://fonts.googleapis.com/css?family=Average|Ubuntu');

html 
{
  background-color: #F0F0F0;
}

body
{
  font-family: 'Average', sans-serif !important;  
  color: #444;
  background-color: #F0F0F0;
  font-size: 16px;
  padding-bottom: 48px;
}

a
{
  color: #888;  
}

nav
{  
  text-align: center;
}

a:hover
{
  color: #000;
  text-decoration: none;  
  border-bottom: 1px dotted #000;
}

a:visited
{
  text-decoration: none;
}

a:focus
{
  text-decoration: none;
  color: #000;
}

.active-link
{
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

.ubuntu-font
{
  font-family: 'Ubuntu', serif !important;
}

.fa
{  
  margin-right: 12px;
  width: 20px;
  font-size: 18px;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  color: #888;
  
}

.panel
{
  border-radius: 0;
}

.panel-default
{
  border-color: #000;
}

.panel-default > .panel-heading
{
  border-color: #000;
}

.label
{
  padding: .3em .6em .2em;
}

.fa:hover
{
  color: #000;  
}

.social-media-bar a:hover
{
  border-bottom: none;
}

.jumbotron
{
  background: none;
  margin-bottom: 0 !important;
}

.jumbotron-img
{
  width: 120px;
  border-radius: 100%;  
  border: 1px solid #000;
}

.jumbotron-name
{
  margin-top: 8px !important;
}

.social-media-bar
{
  margin-top: 20px;
  margin-bottom: 12px;
}

u.dotted
{
  text-decoration: none;
  border-bottom: 1px dotted #444;
}

.experience-section
{
  margin-bottom: 36px;
}

.experience-list
{
  list-style: none;
}

.experience-list li
{
  margin-bottom: 20px;
}

.work-item
{
  border-left: 4px solid #444;
  padding-left: 12px;
}

.work-item img
{
  height: 54px;
}

/* Phone */
@media only screen and (max-width: 768px)
{
  .jumbotron-img
  {
    width: 48px;
    border-radius: 100%;  
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-center-on-mobile
  {
    text-align: center;
  }

  .center-block-on-mobile
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablets */
@media only screen and (min-width: 768px)
{
  .pull-right-on-desktop
  {
    float: right !important;
  }
}