extends ./template.pug

block main-content
  h3 All Stories

  .article-card
    h4.article-title
      a(href="/stories/apa-lagi-yang-harus-disiapin-kalau-mau-jadi-software-engineer.html") 
        | Apa Lagi yang Harus Disiapin Kalau Mau Jadi Software Engineer?
    p.article-excerpt
      | &quot;Saya mau jadi Software Engineer. 
      | Dari dulu mau banget. 
      | Walaupun sekarang haluan saya sudah tidak 100% kesana. 
      | Mau banget karena ingin banget merasakan gimana jadi seorang coder.&quot;
      | Kira-kira begitu yang saya tulis hampir tiga tahun lalu pada story Medium saya. Tidak terasa tiga tahun berlalu saya sendiri sudah menjalani peran Software Engineer beberapa kali pada project pribadi maupun tempat saya bekerja. Seiring dengan pengalaman yang bertambah, pandangan saya tentang peran Software Engineer pun bertambah.

    span.article-posted-date Nov 17, 2019
    span  - 
    a(href='') Discussion Thread on Twitter
  hr